/* Inserte su codigo aqui */
/*header*/
body{
	font-family: "Roboto";
}

.amarillo{
	background: url(../img/portada.jpg) no-repeat;
	padding: 2%;
	background-size: cover;
}

.indice a{
	text-decoration: none;
	text-align: center;
	color:#fff;
	float: left;
	padding: 0% 8%;
}

.boton{
	padding: 3% 6%;
	color: #fff;
	background: #FB9C2C;
	margin-left: 20%;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

a{
	text-decoration: none;
	color:#292727;
}

.titulo h1{
	color: #fff;
	text-align: center;
	font-size: 30px;
	margin-top:18%;
	font-family:"OpenSans-Regular";
}

.titulo p{
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-bottom: 18%;
}
/*header*/
/*section*/
.gris{
	background: #CDC6C6;
	padding: 4% 2%;
}

.div-img{
	margin: 2%;
	background: #FFFFFF;
	padding: 2%;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.div-img:hover{
	background: #BEE9B2;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);	
}

.div-img h2{
	text-align: center;
	font-size: 20px;
	font-family:"OpenSans-Regular";
}

.texto{
	text-align: center;
	font-size: 16px;
	padding: 3%;
}

.imagen{
	width: 80%;
	padding: 3% 8%;
}

.boton-2{
	padding: 3% 6%;
	color: #fff;
	background: #FB9C2C;
	margin-left:35%;
	border-radius: 25%;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

/*section*/
/*footer*/
#contactanos{
	background: #6D6767;
	width: 98%;
	padding: 3%;
}

footer 	p{
	color:#FFFFFF;
	font-size: 20px; 
	margin-left: 10%;
	
}
/*footer*/